body{
    width: 90%;
    max-width: 900px;
    margin: 2em auto;
    font: 0.9em;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 230, 234);
}
header{
    border-radius: 50px;
    padding: 10px;
    background-image:url('Images/love.jpg');
    background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      color: black; /* Text color for visibility */
      display: flex;
      align-items: center;
      justify-content: center;
}
header h1{
    position: relative;
    text-align: center;
}
footer{
    border-radius: 100px;
    background-color: pink;
    text-align: center;
}

ul{
	width: 570px;
	border-top: 2px solid black;
	border-bottom: 1px solid black;
	margin: 0px auto 0px auto;
	text-align: center;
}

a{
	color: black;
	text-decoration: none;
	padding: 6px 10px 5px 10px;
	font-weight: normal;
}

a:hover {
	color: red;
	background-color: black;
	}

/*grid*/
.container {
    display: grid;
    margin: 40px 20px 0 20px;
    gap: 20px;
    grid-template-areas: 
    "head head head head"
    "navi navi navi navi"
    "content content content content"
    "foot foot foot foot";
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

header{
    grid-area: head;
}

article{
    grid-area: content;
}
nav{
    grid-area: navi;
}

footer{
    grid-area: foot;
}